#wrapper {
  width: 200px;
  height: 200px;
  border: 20px solid black;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.box {
  width: 25px;
  height: 25px;
  background-color: green;
}
